.highlight {
	background-color: #1e1e1e;
	border-radius: .75rem;
	color: #d4d4d4;
	display: block;
	font-family: 'Source Code Pro', Consolas, 'Ubuntu Mono', monospace;
	font-size: 1rem;
	margin-bottom: 1.5rem;
	overflow-x: auto;
	padding: .75rem 1rem;
}

pre.highlight {
	border-radius: 0;
	background-color: transparent;
	margin-bottom: 0;
	padding: 0;
}

.highlight .k	{ color: #569cd6; } /* keyword */
.highlight .s	{ color: #ce9178; } /* string */
.highlight .n	{ color: #9cdcfe; } /* name */
.highlight .o	{ color: #d4d4d4; } /* operator */
.highlight .p	{ color: #d4d4d4; } /* punctuation */
.highlight .cm	{ color: #6a9955; font-style: italic; } /* comment */
.highlight .mi	{ color: #b5cea8; } /* integer */
.highlight .nb	{ color: #dcdcaa; } /* builtins comme echo */