body {
	background-color: #eee;
}

h2, h3, h4 {
	margin: 1.5rem 0 1rem;
	text-decoration: underline;
	text-underline-offset: .375rem;
}

h2 a, h3 a, h4 a {
	color: #212529;
}

h2 {
}

h3 {
}

h4 {
}

h2::before {
	content: "→ ";
}

h3::before {
}

h4::before {
}

.table-wow td:first-child {
	width: 30%;
}

.table-wow td:last-child {
	width: 70%;
}

.table-wow a {
	background-color: #0d6efd;
	border-radius: 0.375rem;
	color: #fff !important;
	display: inline-block;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1;
	padding: .4rem .65rem;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	vertical-align: baseline;
}

.table-wow a:hover {
	opacity: .7;
}

.chasseur				{ color: #aad372 !important; }
.chaman					{ color: #0070dd !important; }
.chasseur-de-demons		{ color: #a330c9 !important; }
.chevalier-de-la-mort	{ color: #c41e3a !important; }
.demoniste				{ color: #8788ee !important; }
.druide					{ color: #ff7c0a !important; }
.evocateur				{ color: #33937f !important; }
.guerrier				{ color: #c69b6d !important; }
.mage					{ color: #3fc7eb !important; }
.moine					{ color: #00ff98 !important; }
.paladin				{ color: #f48cba !important; }
.pretre					{ color: #ffffff !important; }
.voleur					{ color: #fff468 !important; }

.normal					{ color: #ffff !important; font-weight: bold !important; }
.rare					{ color: #0070dd !important; font-weight: bold !important; }
.epique					{ color: #a335ee !important; font-weight: bold !important; }

.alliance				{ color: #3a7bbb; }
.horde					{ color: #c35f61; }

/* Remonter la page */

#remonterPage {
	background-color: #fff;
	border: 1px solid #000;
	border-radius: .75rem;
	bottom: 20px;
	color: #333;
	cursor: pointer;
	display: none;
	font-size: 1rem;
	left: 50%;
	opacity: .85;
	padding: .5rem .75rem;
	position: fixed;
	transform: translateX(-50%);
	z-index: 1000;
}

#remonterPage:hover {
	opacity: 1;
}