<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
	<meta charset="utf-8">

	<title>{{ page.title }}</title>

	{% if page.description %}
		<meta name="description" content="{{ page.description }}">
	{% endif %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index, follow">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	{% if page.favicon %}
		<link rel="icon" type="image/png" href="{{ page.favicon | relative_url }}">
	{% else %}
		<link rel="icon" type="image/png" href="{{ '/assets/img/favicon.png' | relative_url }}">
	{% endif %}
	<link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.6/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://unpkg.com/@fancyapps/ui@5.0.36/dist/fancybox/fancybox.css">
	<link rel="stylesheet" href="https://unpkg.com/@fortawesome/fontawesome-free@6.7.2/css/fontawesome.min.css">
	<link rel="stylesheet" href="https://unpkg.com/@fortawesome/fontawesome-free@6.7.2/css/brands.min.css">
	<link rel="stylesheet" href="https://unpkg.com/@fortawesome/fontawesome-free@6.7.2/css/regular.min.css">
	<link rel="stylesheet" href="https://unpkg.com/@fortawesome/fontawesome-free@6.7.2/css/solid.min.css">
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="assets/css/rouge.css">

	{% if page.url == "/wow-pnj-lfr" %}
		<!-- https://www.wowhead.com/tooltip -->
		<script>const whTooltips = {colorLinks: true, iconizeLinks: true, renameLinks: true};</script>
		<script src="https://wow.zamimg.com/js/tooltips.js"></script>
	{% endif %}

	<script src="https://unpkg.com/@fancyapps/ui@5.0.36/dist/fancybox/fancybox.umd.js"></script>
	<script src="https://unpkg.com/@fancyapps/ui@5.0.36/dist/fancybox/l10n/fr.umd.js"></script>
</head>

<body>
	<main>
		<div class="container bg-light border border-2 rounded-4 my-5 p-4">
			{{ content }}
		</div>
	</main>

	<footer>
		<div class="container bg-light border border-2 rounded-4 my-5 p-4">
			<p class="mb-0 text-center">
				<a href="https://validator.w3.org/nu/?showsource=yes&doc=https://machou.github.io{{ page.url }}"><img src="assets/img/logo-w3c-ilove.png" alt="W3C Validator" title="W3C Validator"></a>
			</p>
		</div>
	</footer>

<script src="assets/js/scripts.js"></script>
</body>
</html>