<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
	<meta charset="utf-8">

	<title>{{ page.title }}</title>

	{% if page.description %}
		<meta name="description" content="{{ page.description }}">
	{% endif %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index, follow">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	{% if page.favicon %}
		<link rel="icon" type="image/png" href="{{ page.favicon | relative_url }}">
	{% else %}
		<link rel="icon" type="image/png" href="{{ '/assets/img/favicon.png' | relative_url }}">
	{% endif %}
	<link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.6/dist/css/bootstrap.min.css">

	{% if page.url == "/ma-page.html" %}
	<!-- Code spécifique à cette page -->
	{% endif %}


	<style>
	body {
		background-color: #eee;
	}
	</style>
</head>

<body>
	<main>
		<div class="container bg-light border border-2 rounded-4 my-5 p-4">
			{{ page.url }}
			{{ content }}
		</div>
	</main>

	<footer>
		<div class="container bg-light border border-2 rounded-4 my-5 p-4">
			<p class="mb-0 text-center">
				<a href="https://validator.w3.org/nu/?showsource=yes&doc=https://machou.github.io/wow-pnj-lfr"><img src="assets/img/logo-w3c-ilove.png" alt="W3C Validator" title="W3C Validator"></a>
			</p>
		</div>
	</footer>
</body>
</html>